// Nextflow configuration file for RNACloud Genome Reference workflow

// Enable Nextflow DSL 2
nextflow.enable.dsl = 2

// Default parameters (mapped from config.ini)
params {
    
    // Genome files
    genome {
        fasta = "https://ftp.ncbi.nlm.nih.gov/genomes/all/GCF/000/001/405/GCF_000001405.40_GRCh38.p14/GCF_000001405.40_GRCh38.p14_genomic.fna.gz"
        annotation = "https://ftp.ncbi.nlm.nih.gov/genomes/all/GCF/000/001/405/GCF_000001405.40_GRCh38.p14/GCF_000001405.40_GRCh38.p14_genomic.gtf.gz"
        assembly_report = "https://ftp.ncbi.nlm.nih.gov/genomes/all/GCF/000/001/405/GCF_000001405.40_GRCh38.p14/GCF_000001405.40_GRCh38.p14_assembly_report.txt"
        assembly_report_comment_lines = 63
    }
    
    // Genome for alignment pipelines
    genome_for_alignment_pipelines {
        fasta = "https://ftp.ncbi.nlm.nih.gov/genomes/all/GCF/000/001/405/GCF_000001405.40_GRCh38.p14/GRCh38_major_release_seqs_for_alignment_pipelines/GCA_000001405.15_GRCh38_no_alt_analysis_set.fna.gz"
        fasta_index = "https://ftp.ncbi.nlm.nih.gov/genomes/all/GCF/000/001/405/GCF_000001405.40_GRCh38.p14/GRCh38_major_release_seqs_for_alignment_pipelines/GCA_000001405.15_GRCh38_no_alt_analysis_set.fna.fai"
        annotation = "https://ftp.ncbi.nlm.nih.gov/genomes/all/GCF/000/001/405/GCF_000001405.40_GRCh38.p14/GRCh38_major_release_seqs_for_alignment_pipelines/GCA_000001405.15_GRCh38_full_analysis_set.refseq_annotation.gtf.gz"
    }
    
    // Reference files
    references {
        grc_fixes = "https://github.com/kidsneuro-lab/grc_fixes_monitoring/releases/download/0.0.1/grc_fixes.tsv"
        clinically_relevant_genes = "https://github.com/frontier-genomics/clinically_relevant_genes/releases/download/1.0.2/results.tsv"
    }
    
    // Folder structure
    folders {
        data_dir = "data"
        temp_dir = "temp"
        output_dir = "output"
    }
    
    // gnomAD parameters
    gnomad {
        chunk_size = 100000
    }
}

// Process configuration
process {
    
    // Default container
    container = 'rnacloud_runner'
    
    // Default resource requirements
    memory = '4.GB'
    cpus = 1
    time = '1.h'
    
    // Process-specific configurations
    withName: 'DOWNLOAD_.*' {
        memory = '2.GB'
        time = '30.min'
    }
    
    withName: 'ASSESS_GRC_FIXES' {
        memory = '8.GB'
        cpus = 2
        time = '2.h'
    }
    
    withName: 'DOWNLOAD_GNOMAD_FREQ' {
        memory = '4.GB'
        time = '10.h'
        queue = 'copyq'
    }
    
    withName: 'COMBINE_SPLICE_FREQ' {
        memory = '8.GB'
        time = '1.h'
    }
}

// Container configuration
docker {
    enabled = true
    runOptions = '-u $(id -u):$(id -g)'
}

singularity {
    enabled = false
}

// Execution profiles
profiles {
    
    // Local execution profile
    standard {
        executor.name = 'local'
        executor.cpus = 4
        executor.memory = '16.GB'
    }
    
    // Docker profile
    docker {
        docker.enabled = true
        process.container = 'rnacloud_runner'
    }
    
    // PBS/HPC profile
    pbs {
        executor.name = 'pbs'
        executor.queueSize = 10
        process.queue = 'normal'
        process.clusterOptions = '-P qe93 -l storage=scratch/qe93'
    }
    
    // SLURM profile  
    slurm {
        executor.name = 'slurm'
        executor.queueSize = 10
        process.queue = 'normal'
    }
}

// Timeline and reporting
timeline {
    enabled = true
    file = "${params.folders.output_dir}/timeline.html"
}

report {
    enabled = true
    file = "${params.folders.output_dir}/report.html"
}

trace {
    enabled = true
    file = "${params.folders.output_dir}/trace.txt"
}

dag {
    enabled = true
    file = "${params.folders.output_dir}/dag.svg"
}

// Manifest
manifest {
    name = 'frontier-genomics/rnacloud_genome_reference'
    description = 'RNACloud genome reference processing workflow'
    version = '1.0.0'
    nextflowVersion = '>=22.04.0'
    homePage = 'https://github.com/frontier-genomics/rnacloud_genome_reference'
}