nextflow.enable.dsl = 2

process {
  beforeScript = "export PYTHONPATH=${projectDir}:\$PYTHONPATH"
}

params {
  output_dir     = "${projectDir}/output"
  temp_dir       = "${projectDir}/temp"
  data_dir       = "${projectDir}/data"
  reference_dir  = "${projectDir}/reference"

  genome {
    // Genome
    fasta_url = 'https://ftp.ncbi.nlm.nih.gov/genomes/all/GCF/000/001/405/GCF_000001405.40_GRCh38.p14/GCF_000001405.40_GRCh38.p14_genomic.fna.gz'
    annotation_url = 'https://ftp.ncbi.nlm.nih.gov/genomes/all/GCF/000/001/405/GCF_000001405.40_GRCh38.p14/GCF_000001405.40_GRCh38.p14_genomic.gtf.gz'
    assembly_report = 'https://ftp.ncbi.nlm.nih.gov/genomes/all/GCF/000/001/405/GCF_000001405.40_GRCh38.p14/GCF_000001405.40_GRCh38.p14_assembly_report.txt'
    assembly_report_comment_lines = 63
    cen_par_mask_regions = 'https://ftp.ncbi.nlm.nih.gov/genomes/all/GCF/000/001/405/GCF_000001405.40_GRCh38.p14/GRCh38_major_release_seqs_for_alignment_pipelines/unmasked_cognates_of_masked_CEN_PAR.txt'

    // No alt analysis set
    no_alt_fasta_url = 'https://ftp.ncbi.nlm.nih.gov/genomes/all/GCF/000/001/405/GCF_000001405.40_GRCh38.p14/GRCh38_major_release_seqs_for_alignment_pipelines/GCA_000001405.15_GRCh38_no_alt_analysis_set.fna.gz'
  }

  // Other reference data
  reference {
    grc_fixes = 'https://github.com/kidsneuro-lab/grc_fixes_monitoring/releases/download/0.0.1/grc_fixes.tsv'
    clinically_relevant_genes = 'https://github.com/frontier-genomics/clinically_relevant_genes/releases/download/1.0.2/results.tsv'
  }
  
  rRNA {
    NC_000021 = "${projectDir}/reference/rRNA/NC_000021.9_45S.gtf"
    NT_167214 = "${projectDir}/reference/rRNA/NT_167214.1.gtf"
    NT_187388 = "${projectDir}/reference/rRNA/NT_187388.1.gtf"
  }

  // Gnomad frequency thresholds for splice site positions
  gnomad {
    reference = "${projectDir}/data/gnomad/GRCh38/gnomad_r4_freq.tsv.gz"
    freq = 0.1
    hemizygote_count = 100
    homozygote_count = 100
  }
}