nextflow.enable.dsl = 2

process {
  beforeScript = "export PYTHONPATH=${projectDir}:\$PYTHONPATH"
}

params {
  output_dir = "${projectDir}/output"
  temp_dir   = "${projectDir}/temp"
  data_dir   = "${projectDir}/data"

  // Data
  genome_fasta_url = 'https://ftp.ncbi.nlm.nih.gov/genomes/all/GCF/000/001/405/GCF_000001405.40_GRCh38.p14/GCF_000001405.40_GRCh38.p14_genomic.fna.gz'
  genome_annotation_url = 'https://ftp.ncbi.nlm.nih.gov/genomes/all/GCF/000/001/405/GCF_000001405.40_GRCh38.p14/GCF_000001405.40_GRCh38.p14_genomic.gtf.gz'
  genome_assembly_report = 'https://ftp.ncbi.nlm.nih.gov/genomes/all/GCF/000/001/405/GCF_000001405.40_GRCh38.p14/GCF_000001405.40_GRCh38.p14_assembly_report.txt'
  genome_assembly_report_comment_lines = 63

  reference_grc_fixes = 'https://github.com/kidsneuro-lab/grc_fixes_monitoring/releases/download/0.0.1/grc_fixes.tsv'
  reference_clinically_relevant_genes = 'https://github.com/frontier-genomics/clinically_relevant_genes/releases/download/1.0.2/results.tsv'

  // Gnomad frequency thresholds for splice site positions
  gnomad {
    reference = "${projectDir}/data/gnomad/GRCh38/gnomad_r4_freq.tsv.gz"
    freq = 0.1
    hemizygote_count = 100
    homozygote_count = 100
  }
}